@font-face {
    font-family: "myfont";
    src: url("myfont.woff2");
}

html {
    font-family: "myfont", "Bitstream Vera Serif", serif;
}

body {
    font-family: myfont, 'Open Sans Light', Helvetica, Arial, sans-serif;
}

.input,
.output,
.outputdiv {
    width: 90%;
    height: 10em;
    padding: 10px;
    border: 1px solid #0095dd;
    overflow: auto;
}

button {
    padding: 10px 10px 10px 0;
}

div.controls {
    padding-top: 10px;

}

.output,
.outputdiv {
    height: 450px;
}
