*{
    padding: 0;
    margin:0;
}
body,html{
    width:100%;
}
.container{
    width:100%;
}
.searchBar{
    width: 100%;
    height:10vw;
    overflow: hidden;
}
.searchBar input{
    float: left;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 2vw;
    font-size: 3vw;
    border: 1px solid #02cfd4;
    border-right: none;
}
.searchBar button{
    float: right;
    width: 20%;
    height: 100%;
    border: none;
    background: #02cfd4;
    color: #fff;
    font-size: 4vw;
}
.content{
    padding: 5vw 0;
}
.content .list{
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto 3vw;
    display: block;
    overflow: hidden;
    height: 15vw;    
    border-bottom: 1px dashed #ccc;
    padding-bottom: 2vw;
}
.content .pic{
    float: left;
    width: 30%;
    height: 100%;
    position: relative;
    margin-right:3%;
    overflow: hidden;
}
.content .pic img{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.content .title{
    float: left;
    width: 67%;
    color: #666;
    font-size: 3.8vw;
    padding-top: 2.1vw;
}
.loading{
    display: none;
    text-align: center;
    font-size: 6vw;
}
.notification{
    position: absolute;
    background: #cca;
    padding: 2vw 4vw;
    color: #666;
    right: 10px;
    bottom: 10px;
}
.pushBox{
    
}
.pushBox h1{
    text-align: center;
    color: #02cfd4;
    font-family: '微软雅黑';
    font-size: 6vw;
    margin: 4vw auto;
}
.pushBox .pushwrap{
    width:90%;
    margin:0 auto;
}
.pushBox label{
    color: #999;
}
.pushBox input{
    width: 68vw;
    height: 8vw;
    border: 1px solid #02cfd4;
    padding: 0 2vw;
    outline: none;
    color:#999;
}
.pushBox p{
    margin-bottom:10px;
}
.pushBox .send{
    display: block;
    width: 17vw;
    height: 8vw;
    line-height: 8vw;
    border: none;
    background: #02cfd4;
    color: #fff;
    font-size: 4vw;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
}
.sync{
    position: absolute;
    background: #eab;
    padding: 2vw 4vw;
    color: #666;
    right: 10px;
    bottom: 60px;
}
.sync_event{
    position: absolute;
    background: #cad;
    padding: 2vw 4vw;
    color: #666;
    right: 10px;
    bottom: 107px;
}
.sync_db{
    position: absolute;
    background: #dee;
    padding: 2vw 4vw;
    color: #666;
    right: 10px;
    bottom: 154px;
}