gofans.ga:44444 {
	root /home/wzw/project/go/src/html/8iris/7proxy-caddy/www
	tls     "/home/wzw/project/go/src/html/0gofans.ga/fullchain.cer"  "/home/wzw/project/go/src/html/0gofans.ga/gofans.ga.key"
}


1.gofans.ga:44444 {
	header / Server "Iris"
	tls	"/home/wzw/project/go/src/html/0gofans.ga/fullchain.cer"  "/home/wzw/project/go/src/html/0gofans.ga/gofans.ga.key"
	proxy / localhost:9091
}

2.gofans.ga:44444 {
	header / Server "Iris"
	tls	"/home/wzw/project/go/src/html/0gofans.ga/fullchain.cer"  "/home/wzw/project/go/src/html/0gofans.ga/gofans.ga.key"
	proxy / localhost:9092
}
